#osasco{
    width: 100px;
    height: 100px;
}
footer{
    display: flex;
    align-items: center;
    width: auto;
    justify-content: center;
    margin-top: 200px;
}
.legenda{
    font-style: italic;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}
.governo{
    background-color:#efefef;
    display: flex;
    align-items: center;
    padding: 8px;
    border-radius: 16px;
}

