main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: auto;
    gap: 80px;
}
section{
    gap: 32px;
    display: flex;
    flex-direction: column;
}
.obitos_1{
    height: 60px;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 16px;
}

