.texto{
    font-size: 32px;
    color: white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.numero{
    font-size: 32px;
    color: white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.positivos{
    display: flex;
    gap: 32px;
    background-color: #e21e24;
    padding: 16px;
}

.suspeitos{
    display: flex;
    gap: 102px;
    padding: 16px;
    background-color: #f5a800;
}

.negativos{
    display: flex;
    gap: 32px;
    padding: 16px;
    background-color: #008036;
}

.curados{
    display: flex;
    gap: 32px;
    padding: 16px;
    background-color: #5d14f6;
}

.obitos{
    display: flex;
    gap: 32px;
    padding: 16px;
    background-color: #737373;
}